<launch>
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>
  
  <include file="$(find turtlebot_gazebo)/launch/gmapping_demo.launch"/>
  
  <!-- Move base -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find a_stars)/rviz/exploration.rviz"/>
</launch>
