<launch>
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file"  value="/home/mamarantearaujo/a_stars/rviz/maze.world"/>
  </include>
  
  <include file="$(find turtlebot_gazebo)/launch/gmapping_demo.launch"/>
  
  <!-- Move base -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d /home/mamarantearaujo/a_stars/rviz/exploration.rviz"/>
</launch>
